<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1">

    <groups>
        <run>
            <include name="MailRuTest"/>
        </run>
    </groups>

    <test name="MainPage Test" >
        <classes>
            <class name="SoftClub.MainPageTest" >
                <methods>
                    <include name = "logOutUser"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Authorization Test" >
        <classes>
            <class name="SoftClub.AuthorizationPageTest" >
                <methods>
                    <include name = "logIn"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Send message Test" >
        <classes>
            <class name="SoftClub.SendMessageTest" >
                <methods>
                    <include name = "sendMessage"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Log Out Test" >
        <classes>
            <class name="SoftClub.LogOutTest" >
                <methods>
                    <include name = "logOutUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>